{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "reason",
          "jsx",
          "json",
          "shell-session"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}