{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "reason",
          "jsx"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}